{{#if context.labelName}}
<label for="{{ context.name }}" class="{{ labelClass }}">{{ context.labelName }}</label>
{{/if}}
<input type="{{ context.type }}" name="{{ context.name }}" class="{{ inputClass }}" value="{{ context.inputValue }}">