{{#if context.labelName}}
<label for="{{ context.name }}" class="{{lookup styles context.labelClass}}">{{ context.labelName }}</label>
{{/if}}
<input type="{{ context.type }}" name="{{ context.name }}" class="{{lookup styles context.inputClass}}" value="{{ context.inputValue }}">