<div class="{{styles.[main-page]}}">
    <div class="{{styles.[main-page_first-column]}}">
        <div class="{{styles.[main-page_settings]}}">
            {{> button link="settings" buttonClass="main-page_profile-button" buttonText="Настройки"}}<br/>
            {{> button link="login" buttonText="Выйти"}}<br/>
            {{> button link="500" buttonText="500"}}<br/>
            {{> button link="404" buttonText="404"}}<br/>
        </div>
        <div class="{{styles.[main-page_chat-list]}}">Список чатов</div>
    </div>
    <div class="{{styles.[main-page_second-column]}}">
        <div class="{{styles.[main-page_container]}}">
            <div class="{{styles.[main-page_chat-feed]}}">Лента переписки</div>
        </div>
    </div>
</div>