<div class="{{styles.[settings-page]}}">
    <div class="{{styles.[settings-page_first-column]}}">
        <a data-link="main" class="{{styles.[settings-page_button-back]}}" href="#"><img src="{{ imgBack }}" alt="Go to main page"/></a>
        <input type="hidden" name="avatar" value="">
    </div>
    <div class="{{styles.[settings-page_second-column]}}">
        <div class="{{styles.[settings-page_main-container]}}">
            <div class="{{styles.[settings-page_avatar]}}">
                <a class="{{styles.[settings-page_button-change-avatar]}}" href="#"><img src="{{ imgAvatar }}" alt="Change avatar"/></a>
                <div class="{{styles.[settings-page_display-name]}}">Иван</div>
            </div>
            <div class="{{styles.[settings-page_inner-wrapper]}}">
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Почта" labelClass="settings-page_label" name="email" type="text" inputClass="settings-page_input" inputValue="pochta@yandex.ru" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Логин" labelClass="settings-page_label" name="login" type="text" inputClass="settings-page_input" inputValue="ivanivanov" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Имя" labelClass="settings-page_label" name="first_name" type="text" inputClass="settings-page_input" inputValue="Иван" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Фамилия" labelClass="settings-page_label" name="second_name" type="text" inputClass="settings-page_input" inputValue="Иванов" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Имя в чате" labelClass="settings-page_label" name="display_name" type="text" inputClass="settings-page_input" inputValue="Иван" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Телефон" labelClass="settings-page_label" name="phone" type="text" inputClass="settings-page_input" inputValue="+7 (909) 967 30 30" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Cтарый пароль" labelClass="settings-page_label" name="old_password" type="password" inputClass="settings-page_input" inputValue="••••••••••••" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}}">
                    {{> input labelName="Новый пароль" labelClass="settings-page_label" name="new_password" type="password" inputClass="settings-page_input" inputValue="••••••••••••" }}
                </div>
                <div class="{{styles.[settings-page_inputrow]}} {{styles.[settings-page_inputrow-last]}}">
                    {{> input labelName="Повторите новый пароль" labelClass="settings-page_label" name="retype_new_password" type="password" inputClass="settings-page_input" inputValue="••••••••••••" }}
                </div>
                {{> button link="main" buttonClass="settings-page_save-button" buttonText="Сохранить"}}
            </div>
        </div>
    </div>
</div>